@page "/"
@inject IBlogService blogService

<h3>Listado de Blogs</h3>

@if (blogs == null)
{
    <p>Cargando blogs...</p>
}
else if (!blogs.Any())
{
    <p>No hay blogs disponibles.</p>
}
else
{
    <div class="blog-container">
        @foreach (var blog in blogs)
        {
            <div class="card">
                <div class="card-body">
                    <h3>@blog.Titulo</h3>
                    <p>@blog.Contenido</p>
                    <small>Creado el: @blog.FechaCreacion.ToString("dd/MM/yyyy")</small>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<BlogModel>? blogs;

    protected override async Task OnInitializedAsync()
    {
        blogs = await blogService.GetBlogsAsync(1, 10);
    }
}
